<%= simple_form_for :cart, {url: update_cart_path} do |f| %>
  <div class="small-8 columns">
    <h1>Shopping Cart</h1>

    <% if session[:cart].empty? %>
      <h4>Please add items to your cart to check out</h4>
    <% else %>
      <%= render partial: 'cart_items', locals: {f: f} %>

      <div class="row">
        <div class="right"><%= f.button :submit, "Update Cart", class: 'small move_left' %></div>
      </div>
    <% end %>
  </div>
<% end %>
