<div class= "banner">
  <img data-interchange="[<%= image_url "big-cookie.jpg" %>, (default)]">

  <h1>
    Bread <strong>Express</strong> <br/>
    <small>Baked Fresh. Straight to your door.</small>
  </h1>
</div>