<div class="row">
  <div class="small-7 columns">
    <h2><em>About A &amp; M Bread Express</em></h2>

    <p>
    	This project is a testament to an ungodly number of hours spent coding.
        I'd estimate I spent around a week of nothing but. Waking up, coding, going to sleep.
        The funniest part is that I was programming/designing a lot of things that really didn't
        need to happen, which made my life a lot more complicated. But oh well, this project is basically almost finished.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>