<h2>Addresses</h2>

<%= link_to "Create Address", new_address_path, class: 'button small' %>

<%= render partial: 'address_table', locals: {addresses: addresses.active, status: "active"} %>
<%= render partial: 'address_table', locals: {addresses: addresses.inactive, status: "inactive"} %>

<%= link_to "Create Address", new_address_path, class: 'button small' %>
