<h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p>

<div class="small-6 columns">
  <%= render partial: 'partials/item_image', locals: {item: @item} %>
</div>
<div class="small-6 columns">
  <%= render partial: 'item_info', locals: { item: @item } %>
</div>