<div class="row">  
  <div class="small-6 columns big-item-image">
    <%= render partial: 'partials/item_image', locals: {item: @item} %>
  </div>
  <div class="small-6 columns">
    <%= render partial: 'item_info', locals: { item: @item } %>
  </div>
</div>

<div class="row extra-top-margin">
  <% if current_user && current_user.role?(:admin) %>
    <%= render partial: 'item_price_history', locals: { item: @item, new_price: @new_price } %>
  <% else %>
    <%= render 'similar_products', similar_items: @similar_items %>
  <% end %>
</div>
