.clickable_div {
	//This covers up the parent div.
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
	top: 0px;
	left: 0px;
}

#footer {
	// background-color: #eee;
  text-align: center;
}

.vcard {
  width: 100%;

}
.vcard.inactive {
  background-color: #ddd;
}

.order_header {
  border-bottom: thin solid #bbb;
}

.order_item {
  padding-top: 20px;
}

.side-nav {
  .current_page {
    font-weight: bold;
  }

  .divider {
    // border-top-color: #E6E6E6;
    // border-top-width: 1px;
    // border-top-style: solid;
    border-top: 1px solid #E0E0E0 !important;
  }
}

.move_left {
  margin-right: 32px;
}

.extra_margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.extra-top-margin {
  margin-top: 70px !important;
}

.side-nav {
  padding-top: 5px;

  .header {
  // font-size: 1rem;
  font-weight: bold;
  }
}

.side-nav-parent {
  background-color: #F8F8F8;
  padding-top: 25px;
}

table {
  width: 100%;
}


// .add-space-between-shipping > .clickable-row:not(:first-child) > .row {
// .add-space-between-shipping .row:not(:first-child) {
.shipper-row:not(:first-child) {
  border-top: 1px solid #DADADA;
  padding-top: 15px;
}

.shipper-row {
  cursor: pointer;
}

.inline {
  display: inline;
}

.pagination {
  margin-bottom: 25px;
}

.big-item-image {
  padding-top: 18px;
}

.cart-item-margin {
  margin-bottom: 20px !important;
}




.banner {
  position: relative;
  width: 100%;

  img {
    height: auto;
    width: 100%;
  }

  h1 {
    position: absolute;
    top: 40%;
    left: 100px;
    width: 100%;

    color: #FDFDFD;

    small {
      color: #EEE;
      font-size: 35%;
    }
  }
}